[submodule "third_party/raygui"]
	path = third_party/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/raylib"]
	path = third_party/raylib
	url = https://github.com/raysan5/raylib.git
